body {
	line-height: 18px;
}

code {
	background: tan;
	border: 1px solid brown;
	padding: 0 5px;
	border-radius: 3px;
	margin: 0 1px;

}

#notification {
	background: yellow;
	border: 1px solid gold;
}

.message {
	background: rgba(0, 255, 255, .5);
	padding: 5px 15px;
	border: 1px solid navy;
	border-radius: 4px;
	margin-bottom: 10px;
}

.error {
	background: rgba(255, 0, 0, .5);
	border: 1px solid rgba(255, 0, 0, 1);
}

.success {
	background: rgba(0, 153, 51, .5);
	border: 1px solid green;	
}