/* Relaxr. Written and directed by Zachary Herndon. August 2015. */

/* housekeeping css */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}	

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/* meat and potatoes */
body {
	background: #f0efef;
	font-family: 'Open Sans', sans-serif;
}

.contain-hero {
	background: url(../images/header_bg.jpg) no-repeat;
	background-size: cover;
}

.hero {
	width: 960px;
	margin: 0 auto;
	height: 600px;
	font-size: 24px;
	padding: 20px;
	color: rgba(255,255,255,1);
	text-align: center;
}

.hero h1 {
	text-align: left;
	font-weight: 800;
	margin: 0;
	padding: 0;
}

.hero h2 {
	font-weight: 400;
	margin-top: 200px;
}

.hero p {
	font-size: 14px;
	font-weight: 300;
	padding: 10px;
}

.hero a {
	text-decoration: none;
	color: #f9e42e;
}

.hero a:hover {
	text-decoration: none;
	color: white;
}

.getItNow {
	background: #f9e42e;
	font-weight: 800;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	padding: 15px 40px;
	margin-top: 20px;
	color: #033048;
}

hr {
	width: 60%;
}

.benefits {
	background: oyster;
	color: #033048;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	padding-bottom: 30px;
	width: 960px;
	margin: 0 auto;
}

.benefits .intro {
	width: 720px;
	margin: 0 auto;
	padding: 10px 30px;
	font-size: 24px;

}

.benefits .benefit {
	float: left;
	width: 25%;
	padding: 10px 10px 10px 50px;
	color: #033048;

}

.contain-testimony {
	background: url(../images/testimonial_bg.jpg);
}

.testimony {
	color: white;
	font-size: 22px;
	padding: 40px 40px 10px 40px;
	width: 600px;
	margin: 0 auto;
}

.testimony .quote {
	font-weight: 300;
	font-style: italic;
	text-align: justify;
}

.testimony .quoted {
	font-weight: 300;
	text-align: right;
	padding-bottom: 40px;
}

.action {
	background: #f9e42e;
	text-align: center;
	padding: 30px 20px 20px 20px;
	height: 100px;
}

.signUp {
	background: #033048;
	color: white;
	font-weight: 800;
	font-size: 14px;
	border: none;
	border-radius: 5px;
	padding: 15px 40px;
}

footer {
	text-align: center;
	background: #121212;
	color: rgba(255,255,255,1);
	height: 210px;
	padding: 20px;
}

footer h3 {
	font-weight: 800;
	font-size: 24px;
	color: #f9e42e;
	padding-bottom: 20px;

}

footer p {
	font-weight: 600;
	font-size: 9px;
	padding-top: 30px;
}

/* Let's arrange the facebook and twitter 
logos nice under the Relaxr logo */
.social-media {
	width: 100px;
	margin: 0 auto;
}

.social-media .left {
	float: left;
	margin: 10px;
}

.social-media .right {
	float: right;
	margin: 10px;
}

/* this is the font awesome code */
i {
	font-size: 48px;
}

